accelerate
torchaudio
dlib
poetry
Pillow
requests
opencv-python
cryptography
pypdf2
IPython
huggingface_hub
openai
anthropic
mistralai
moviepy
scipy
scikit-image
scikit-learn
numpy
yacs
PyYAML
imageio
ffmpeg-python
av
nltk
WhisperSpeech
librosa

