anthropic
groq
mistralai
huggingface_hub
pypdf2
pdf2image 
timm
sentence-transformers
byaldi
opencv-python
IPython
python-dotenv
nltk
tiktoken
matplotlib
plotly
kaleido
networkx
fastparquet
pydantic
rich
supervision
nano-graphrag
qwen-vl-utils




